{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<header>
    KU-Polls
</header>

{% if user.is_authenticated %}
   <div class="welcome">Welcome back, {{ user.username }}</div>
{% endif %}

{% if latest_question_list %}
    {% for question in latest_question_list %}
        <table>
            <tr>
                <td>
                    <div class="question-border">
                <a href="{% url 'polls:detail' question.id %}"><div class="question-text">☃ {{ question.question_text }} ☃
                </div></a>

                <a href="{% url 'polls:results' question.id %}"><div class="question-text">Results page ( •̀ᴗ•́ )و ̑̑</div></a>
                {% if question.can_vote %}
                    <i>Status: ✅</i><br>
                    <i>End date: {{ question.end_date}}</i>
                {% else %}
                    <i>Status: ❌</i><br>
                    <i>End date: {{ question.end_date}}</i>
                {% endif %}
                </div></td>

            </tr>

        </table>

    {% endfor %}
{% else %}
    <p>No polls are available.</p>
{% endif %}

{% if user.is_authenticated %}
    <button><a href="{% url 'logout' %}?next={{request.path}}">Logout</a></button>
{% else %}
        <button><a href="{% url 'login' %}?next={{request.path}}">Login</a></button>
        <button><a href="{% url 'polls:signup' %}?next={{request.path}}">Sign up</a></button>

{% endif %}

